body {
	margin: 0;
	background-attachment:fixed;
	background-size:100%;
	background-repeat:no-repeat;
	background-color:#000;
}
.pause{
    z-index:1;
    position: fixed;
    top:0;
    left:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0.25s ease-in-out , opacity 0.25s ease-in-out, transform 0.25s ease-in-out;   
}

.pause-content{
    
    padding: 16px 24px;    
    width: 384px;
    border-radius: 0.5rem;
}
.show-pause{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);    
}
#pauset {
	left: 47.5%;
	position: absolute;
	margin-bottom: 0px;
    color: LightPink;

}
.fundo {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#jogo {
	position: absolute;
	top: 150px;
	margin: auto;
	width: 750px;
	height: 750px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: solid;
	border-image: url(https://i.imgur.com/N0Y3SFj.jpg);
}
.score {
	position: absolute;
	margin-bottom: 15px;
	width: 750px;
	height: 45px;
	background: LightPink;
	top: 80px;
	border: solid;
	border-radius: 0.5rem;
	border-color: DeepPink;
}
#coracao{
	position: absolute;
	left: 3%;
	transform: translate(25%);
	font-size: 40px;
	margin-bottom: 0px;
    color: #000;
    margin: auto;
	width: auto;
}

#vida{
	position: absolute;
	left: 8%;
	transform: translate(25%);
	font-size: 40px;
	margin-bottom: 0px;
    color: #000;
    margin: auto;
	width: auto;
}
#bomba{
	position: absolute;
	left: 15%;
	transform: translate(25%);
	font-size: 40px;
	margin-bottom: 0px;
    color: #000;
    margin: auto;
}
#bombas{
	position: absolute;
	left: 19%;
	transform: translate(25%);
	font-size: 40px;
	margin-bottom: 0px;
    color: #000;
    margin: auto;
	width: auto;
}
#velocidade{
	top: 10%;
	position: absolute;
	right: 16%;
	transform: translate(25%);
	font-size: 30px;
	margin-bottom: 0px;
    color: #00f;
    margin: auto;
	width: auto;
}

/*creditos*/
#creditos{
    position: absolute;
    display: none;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: black;
}

.marquee{
    height: 500px;
    text-align: center;
    color: white;
    left: 50%;
}

.marquee table{
    position: absolute;
    width: 150px;
    left: 50%;
    margin-left: -75px;

}




